services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - rus-data:/app/data
    environment:
      - HOST=0.0.0.0
      - RUST_LOG=info
    env_file: .env
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rus.rule=Host(`rus.a8n.test`)"
      - "traefik.http.services.rus.loadbalancer.server.port=8080"
    networks:
      # - default
      - saas

networks:
  default:
  saas:
    external: true
    name: a8n-saas_default
  # rus-network:
  #   driver: bridge

volumes:
  rus-data:
