services:
  sqlite:
    image: keinos/sqlite3:latest
    volumes:
      - ./data:/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    user: 1000:1000
    command: sh -c "rm -f /data/rus.db && sqlite3 /data/rus.db < /docker-entrypoint-initdb.d/init.sql && chmod 664 /data/rus.db && tail -f /dev/null"
    restart: unless-stopped
